# 1a1a11a
*INTERNAL*
*deprecated*
*.DS_Store*
*.bak
*.clean
*.nogit*
.vscode*
new*.*
akamai.*
test.c
bin
configs
threadManagement
wiki2
*.png
*.pdf
ToDo
exp_params.txt
command
exp_params.txt.core
script/params
*.pickle
exp_params.txt.new
data/scripts/test.py
docker/Dockerfile
docker/dockerRun.sh
script/deploy/tasks
script/plot/data
debug.sh
sync.sh
script/deploy/failureData
